<div class="sidenav">
  <span ><h1>Menu lateral</h1></span>
    <hr>
      <div class="container"  >
        <div (click)="Listar()" class="btn">
          Listar Medidores
        </div>
        <div (click)="ListarClientes()" class="btn " >
        Listar Clientes
        </div>
        <div (click)="novoCliente()" class="btn " >
          Novo Cliente
        </div>
        <div (click)="novoMedidor()" class="btn " >
          Novo Medidor
        </div>
        <div class="btn">
          <app-user-dropdown></app-user-dropdown>
        </div>
    </div>
  </div>
    
    
    
  