<div class="container col-md-6 mt-3">
  <div class="card">
    <div class="card-header">
      <h3>Adicionar clientes</h3>
    </div>
    <div class="card-body"style="">
      <form action="">
        <div class="form-group">
          <label for="">CPF</label>
          <input type="text" class="form-control" maxlength="11" size="11" [(ngModel)]="cliente.cpf" name="cpf" placeholder="Digite o CPF do cliente">
        </div>
        <div class="form-group">
          <label for="">Senha</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.senha" name="senha"placeholder="Digite a senha do cliente">
        </div>
        <div class="form-group">
          <label for="">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"placeholder="Digite o nome do cliente">
        </div>
        <div class="form-group">
          <label for="">Tipo do consumidor</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.tipoConsumidor" name="tipoConsumidor" placeholder="Informe o tipo de consumidor">
        </div>
        <div class="form-group mt-3 " style=" background-color: rgb(45, 202, 255); color: white; border-radius:10px;padding-left:10px;  display:flex; text-align: center;">
                <input type="radio" id="inadimplente" [(ngModel)]="cliente.inadimplente" name="inadimplente" value="True" >
                <label for="Inadimplente()" style="margin-right: 20px; padding-left: 10px;">Inadimplente</label><br>
                <input type="radio" id="notInadimplente" [(ngModel)]="cliente.inadimplente" name="notInadimplente" value="False">
                <label for="NotInadimplente()" style="margin-right: 20px; padding-left: 10px;">Não inadimplente</label>
        </div>
        <button (click)="salvar()" class="btn btn-danger mt-5 col-md-6">Salvar</button>
      </form>
    </div>
  </div>
</div>
