.conteiner{
    display: flex;
    height: 93vh;
}
.conteiner-meio{
    width: 70%;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 0%;

}
 .tabela{
    width: auto;
    text-align: center;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 0%;
    padding: 10px;
    height: auto;
    
}
.sidenav{
    width: 20%;
}
