<div class="centralizar">
    <div class="tela-info ">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="esquerda">UserName</mat-card-title>
          <mat-card-subtitle class="esquerda">user@email.com</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="imagem" src="/assets/img/user-icon.png" alt="User Profile Picture">
        <hr>
        <mat-card-content>
          <h3 class="esquerda">Tipo de usuário: UserType</h3>
          <h3 class="esquerda">Lorem Ipsum: Lorem ipsum sit amet.</h3>
          <h3 class="esquerda">Lorem Ipsum: Lorem ipsum sit amet.</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>