<div class=" d-flex flex-column flex-shrink-0  p-3 " style=" background-color: rgb(0, 140, 255);">
    <h1>
      <span class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" >Menu lateral</span>
    </h1>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active text-white" aria-current="page">
          Página inicial
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          Alarmes
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
        
          Relatórios
          
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
        
          Clientes
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
        
          Equipamentos
          
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        <strong style="margin-left:10px;"> CLIENTE</strong>
      </a>
    </div>
  </div>
