<div class="tableheader">
    <div class="filtroPesquisa">
        <nav class="navbar navbar-expand-xl ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
                aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample06">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown06" data-toggle="dropdown"
                            aria-haspopup="flase" aria-expanded="true">Parâmetro</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown06">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="BUSCAR">
                </form>
            </div>
        </nav>
    </div>
    <H1>TABELA CADASTRO USUÁRIOS</H1>
</div>

<table class="table ">
    <thead class="thead-dark">
        <tr class="coluna">
            <th scope="col" class="top">
                <p>CPF</p>

                <div class="order">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg></button>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></button>


                </div>
            </th>
            <th scope="col" class="top">
                <p>NOME</p>
                <div class="order">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg></button>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></button>


                </div>
            </th>
            <th scope="col" class="top">
                <p>SENHA</p>
                <div class="order">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg></button>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></button>


                </div>
            </th>
            <th scope="col" class="top">
                <p>INADIMPLENTE</p>
                <div class="order">
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg></button>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></button>


                </div>
            </th>
            <th scope="col" class="top">
                <p> TIPO DO CLIENTE</p>
                <div class="order">
                    <a><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg></a>
                    <button><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></button>


                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">9999999999</th>
            <td>CARLOS</td>
            <td>*********</td>
            <td>TRUE</td>
            <td>RESIDENCIAL</td>
        </tr>
        <tr>
            <th scope="row">1111111111</th>
            <td>PEDRO</td>
            <td>*************</td>
            <td>FALSE</td>
            <td>EMPRESARIAL</td>
        </tr>
        <tr>
            <th scope="row">6666666666</th>
            <td>JOÃO</td>
            <td>***********</td>
            <td>FALSE</td>
            <td>CONDOMÍNIO</td>

        </tr>
    </tbody>
</table>