<button mat-icon-button mat-menu-item [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon><span>UserName</span>
</button>
<div class="test">
    <mat-menu #menu="matMenu">
        <button mat-menu-item disabled class="dropdown">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        <button mat-menu-item disabled class="dropdown">
            <mat-icon>help</mat-icon>
            <span>Ajuda</span>
        </button>
        <button mat-menu-item [routerLink]="['/login']" class="dropdown">
            <mat-icon>exit_to_app</mat-icon>
            Sair
        </button>
    </mat-menu>
</div>