body{
    background-color: #e7efec;
}
.central{
    text-align: center;
    padding-top: 50px;
    font-size: large;
    
    }

#email{
    margin:5px;
}
.form-floating{
    margin-top: 10px;
}
.form-signin{
    padding-left: 35%;
    padding-right: 35%;
}
.caixa{
    margin-top: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
    padding:  10px 50px 50px 50px;
    background-color: white;

}
.caixa img{
    width: 50%;
    padding-top:20px ;
    float: center;
    
}
.criarConta{
    padding-bottom: 20px;
    
}
.criarConta p{
    margin-top: 90px;
    margin-bottom:0 ;
}
.criarConta a{
    text-decoration: none;
}
.checkbox{
    padding-top: 15px;
    float: left;
}
@media screen and (max-width:1000px){
    .form-signin{
        padding-left: 10%;
        padding-right: 10%;
    }
    .caixa{

        border-radius: 10px;
        box-shadow: -0px 2px 8px -2px;
        padding:  10px 20px 0 20px;
    }
}
@media screen and (max-width:300px){
    .form-signin{
        padding-left: 10%;
        padding-right: 10%;
    }
    .caixa{

        border-radius: 10px;
        box-shadow: 1px 1px 5px;
        padding:  10px 10px 0 10px;
    }
}
