<div class="container col-md-6 mt-3">
    <div class="card">
      <div class="card-header">
        <h3>Modificar dados do medidor</h3>
      </div>
      <div class="card-body"style="">
        <form action="">
            
          <div class="form-group">
            <label for="">Data da medição</label>
            <input type="date" class="form-control" [(ngModel)]="medidor.dataMedicao" name="dataMedicao">
          </div>
          <div class="form-group">
            <label for="">Voltagem</label>
            <input type="number" class="form-control" [(ngModel)]="medidor.voltagem" name="voltagem">
          </div>
          <div class="form-group">
            <label for="">Consumo</label>
            <input type="number" class="form-control" [(ngModel)]="medidor.consumo" name="consumo">
          </div>
          <div class="form-group">
            <label for="">temperatura</label>
            <input type="number" class="form-control" [(ngModel)]="medidor.temperatura" name="temperatura">
          </div>
          <div class="form-group" >
            <label for="">CPF dp titular</label>
            <input type="text" class="form-control" [(ngModel)]="medidor.cpfTitular" name="cpfTitular" maxlength="11" size="11">
          </div>
          <div class="form-group mt-3 "  style=" background-color: rgb(45, 202, 255); color: white; border-radius:10px;padding-left:10px;  display:flex; text-align: center;">
            <input type="radio" id="inadimplente" [(ngModel)]="medidor.provisionado" name="provisionado" value="True">
            <label for="Inadimplente()" style="margin-right: 20px; padding-left: 10px;">provisionado</label><br>
            <input type="radio" id="notInadimplente" [(ngModel)]="medidor.provisionado" name="notProvisionado" value="False" style="margin-right: 20px; padding-left: 10px;">
            <label for="NotInadimplente()" style="margin-right: 20px; padding-left: 10px;">Não provisionado</label>
    </div>
          <button (click)="atualizar(medidor)" class="btn btn-danger mt-5 col-md-6">Salvar alterações</button>
        </form>
      </div>
    </div>
  </div>
